/* page backgraund #FFFFFF */
/* footer backgraund #2F303A */
/* main color #212121  */
/* secondary color #757575 */
/* accent #2196F3 */
/* logo #2196F3 #000000 */
/* hero #FFFFFF */
/* logo footer ##2196F3  */
.page {
    background-color: #FFFFFF;
}
/* site nav */
.logo, .logo:hover, .logo:focus {
    color: #2196F3;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.logo-header {
    color: #000000;
}
.logo-header:hover, .logo-header:focus {
    color: #2196F3;
}
.list {
    list-style: none;
}
.link {
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.link:hover, .link:focus {
    color: #2196F3;
}
.contacts {
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.contacts:hover, .contacts:focus {
    color: #2196F3;
}
/* hero */
.hero-title {
    color: tomato;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}
.button {
    color: tomato;
}
/* section */
.section {
    color: #212121;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.section-title {
    color: #212121;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.section-item {
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
/* work */
.work-item {
   color: tomato;
   font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
/* footer */
footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
}
.address {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.footer-title {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px; 
}
.footer-button {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.copyright {
    color: rgba(255, 255, 255, 0.4);
}
.filter {
    color: #212121;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.filter:hover, .filter:focus {
    color: #FFFFFF;
}